.location-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 700px; 
    margin: 0 auto; 
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease-in-out;
    max-width:300%;
}

.location img {
    width: 100%;
    height: auto;  
    object-fit: contain; 
    border-radius: 10px;
}